{% extends 'base.html' %}


{% block title %}
    whatahtaht
{% endblock %}


{% block extra-style %}
<style>
.thumbnail {
    border: 5px solid #ccc;
}        
</style>
{% endblock %}

{% block content %}

<section id="photo" class="section">
    <div class="container">

        <div class="mt-5">
            <span class="h2">{{ object.name }}</span>
            <span class="h5 font-italic">{{ object.description }}</span>
        </div>

        <hr style="margin: 0 0 20px 0;">

        <div class="row">
            
            {% for photo in object.photo_set.all %}
            <div class="col-md-3 mb-5">
                <div class="thumbnail">
                    <a href="{{ photo.get_absolute_url }}">
                        <img src=" {{ photo.image.thumb_url }}" style="width: 100%;">
                    </a>
                </div>
                <ul>
                    <li class="font-italic">{{ photo.title }}</li>
                    <li class="font-italic">{{ photo.upload_dt|date:"Y-m-d" }}</li>
                </ul>
            </div>
            {% endfor %}
                
        </div>
    </div>
</section>s
{% endblock %}