{% extends 'base2.html' %}

{% load static %}

{% block title %}
    Gallery
{% endblock %}
    
{% block extra-style %}
<link rel="stylesheet" href="{% static 'css/style_a.css' %}">
{% endblock %}

{% block content %}


<section id="photo" class="section">
    <div class="container">
        &emsp;
        <h1>Detailed description</h1>
        <h2 class="mt-5">{{ object.title }}</h2>
        <div class="row">
            <div class="col-md-9">
                <a href="{{ object.image.url }}">
                    <img src="{{ object.image.url }}" style="width: 100%;">
                </a>
            </div>
            <div class="detail__description">
                {% if object.description %}
                <p>{{ object.description|linebreaks }}</p>
                {% else %}
                <p>(blank)</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}