{% extends 'base2.html' %}
{% load static %}

{% block title %}
    Classifier
{% endblock %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'css/style_c.css' %}">
<script src="{% static 'javascripts/main_c.js' %}" defer></script>
{% endblock %}

{% block content %}
<style>
  .hashtag {
    display: flex;
  }
</style>
<section id="classifier" class="section">
    <div class="container">
      <h1>
        </br>Let's Classify Food Image!
      </h1>        
      <h2>{{predictedLabel}} 올리셨군요!!🍦</h2>

      <div class="image__box">
          <img src="{{filePathName}}" width="100%" heigh="100%">
      </div>

      <div class="hashtag">
        {% for h in hashtags %}
          <h3>#{{h}} </h3>
        {% endfor %}
      </div>

      <a href="{% url 'foods:classifier' %}"><button class="btn_upload">
        👋되돌아가기
      </button></a>
    </div>
  </section>


{% endblock %}

