{% extends 'base2.html' %}
{% load static %}

{% block title %}
    Search
{% endblock %}
    

{% block extra-style %}
<link rel="stylesheet" href="{% static 'css/style_c.css' %}">
<script src="{% static 'javascripts/main_c.js' %}" defer></script>
{% endblock %}


{% block content %}

<!-- Food Search Map -->

<section id="classifier" class="section">
    <div class="container">
        <h1>
        </br>Let's Search Food Place!
        </h1>        
        <h2>주변 음식점🍚</h2>

        <div class="place">
            <div id="map" style="width:80%; height:700px; margin:50px auto 100px; z-index: 0"></div>
        </div>
        
        <a href="{% url 'foods:classifier' %}"><button class="btn_upload">
            👋되돌아가기
        </button></a>

    </div>
</section>

<!-- Food Search Map -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d9b233b6fb70f3927bd1aa1ee26fdcb7&libraries=services,clusterer,drawing"></script>


<script>
    // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
    var infowindow = new kakao.maps.InfoWindow({zIndex:1});
    
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
            level: 1 // 지도의 확대 레벨
        };  
    
    // 지도를 생성합니다    
    var map = new kakao.maps.Map(mapContainer, mapOption); 
    
    // 장소 검색 객체를 생성합니다
    var ps = new kakao.maps.services.Places(); 
    
    // 키워드로 장소를 검색합니다
    ps.keywordSearch("{{search}}", placesSearchCB); 
    
    // 키워드 검색 완료 시 호출되는 콜백함수 입니다
    function placesSearchCB (data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {
    
            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
            // LatLngBounds 객체에 좌표를 추가합니다
            var bounds = new kakao.maps.LatLngBounds();
    
            for (var i=0; i<data.length; i++) {
                displayMarker(data[i]);    
                bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
            }       
    
            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
            map.setBounds(bounds);
        } 
    }
    
    // 지도에 마커를 표시하는 함수입니다
    function displayMarker(place) {
        
        // 마커를 생성하고 지도에 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(place.y, place.x) 
        });
    
        // 마커에 클릭이벤트를 등록합니다
        kakao.maps.event.addListener(marker, 'click', function() {
            // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
            infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
            infowindow.open(map, marker);
        });
    }
</script>

{% endblock %}