/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-light-red: #da6262;
  --color-background-red: #ad0101;
  --color-hashtag: #3f729b;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation  */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/*  Section common  */
.section {
  padding: 50px;
  padding-top: 60px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* -------------------- Navbar -------------------- */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background-red);
  color: var(--color-white);
  padding: 6px;

  position: fixed;
  width: 100%;
  transition: all var(--animation-duration) ease;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-background-red);
  padding: 6px;
}

.navbar__menu {
  display: flex;
  margin: 6px 0px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold-bold);
}

.navbar__logo a {
  color: var(--color-white);
  text-decoration: none;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);

  color: var(--color-white);
  border: 1px solid transparent;
}

.navbar__menu__item a {
  color: var(--color-white);
  text-decoration: none;
}

.navbar__menu__item:hover {
  border-color: var(--color-white);
  background-color: var(--color-light-red);
}

.navbar__toggle-btn {
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* -------------------- Home -------------------- */
.home__background {
  width: 100%;
  height: 100%;
}

/* -------------------- About -------------------- */
.about__majors {
  display: flex;
  justify-content: space-evenly;
  margin: 80px 8px;
}

.major {
  margin: 4px;
  width: 200px;
}

.avatar__img {
  width: 170px;
  height: 170px;
  border: 1.5px solid var(--color-light-red);
  border-radius: 50%;
  margin-bottom: 16px;
  transition: all var(--animation-duration) ease;
}

.avatar__img:hover {
  transform: scale(1.1);
}

.major__title {
  color: var(--color-dark-grey);
  font-size: 24px;
}

.major__description {
  font-size: var(--font-micro);
  font-weight: var(--weight-semi-bold);
  color: var(--color-hashtag);
}

.record {
  display: flex;
  align-items: center;
  margin: 8px 0px;
}

.record__description {
  margin: 0 16px;
  text-align: left;
  color: var(--color-light-grey);
  font-size: var(--font-regular);
}

/* -------------------- skill -------------------- */
#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0px;
}

.skillset__title {
  color: var(--color-white);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools {
  padding-top: 20px;
  padding-bottom: 20px;
}

.teches,
.coworking {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin: 24px;
}

.tech,
.cowork {
  padding: 8px;
}

.tech__logo,
.cowork__logo {
  width: 55px;
  height: 55px;
  border: 1px solid var(--color-white);
  border-radius: 50%;
  background-color: var(--color-white);
  box-shadow: 1px 1px 4px var(--color-white);
}

.tech__logo:hover {
  transition: all var(--animation-duration) ease;
  transform: scale(1.3);
  cursor: pointer;
  box-shadow: 0px 0px 8px var(--color-white);
}
.cowork__logo:hover {
  transition: all var(--animation-duration) ease;
  transform: scale(1.3);
  cursor: pointer;
  box-shadow: 0px 0px 8px var(--color-white);
}

.etc {
  padding: 20px 0px;
}

/* -------------------- Presentation -------------------- */

.ppt {
  margin: 20px 0px;
}

/* -------------------- Message -------------------- */
#messages {
  background-color: var(--color-light-white);
}

.messages {
  margin: 40px;
}

.message {
  display: flex;
  margin: 32px 0px;
}

.message__avatar {
  width: 150px;
  height: 150px;
  border: 1.5px solid var(--color-light-red);
  margin: 12px;
  border-radius: 50%;
}

.message__avatar:nth-child(odd) {
  margin-right: 40px;
}

.message__avatar:nth-child(even) {
  margin-left: 40px;
}

.message__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.message__speech-bubble p {
  color: var(--color-light-grey);
}

.message__speech-bubble a {
  color: var(--color-light-red);
}

/* -------------------- Contact -------------------- */
#contact {
  background-color: var(--color-background-red);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-light-white);
}

.contact__title {
  margin: 32px 0px;
}

.contact__email a {
  color: var(--color-white);
  text-decoration: none;
}

.contact__link {
  font-size: var(--font-large);
  margin: 24px 0px;
}

.contact__link i:hover {
  transition: all var(--animation-duration) ease;
  transform: scale(1.2);
  color: var(--color-light-red);
}

/* ---------- Scroll ----------  */
.arrow-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: var(--color-white);
  background-color: var(--color-light-red);
  border-radius: 50%;
  transition: all var(--animation-duration) ease-in;
  pointer-events: none;
  opacity: 0;
}

.arrow-up.visible {
  pointer-events: auto;
  opacity: 1;
}

/* ---------- For below 768px screen width ---------- */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbar__toggle-btn {
    display: block;
    top: 6px;
    right: 16px;
    font-size: var(--font-medium);
  }

  .section {
    padding: 16px;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-background-red);
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .major {
    margin-bottom: 30px;
    width: 100%;
  }

  .record__logo {
    width: 24px;
    height: 24px;
  }

  .record__description {
    font-size: var(--font-micro);
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .message {
    flex-direction: column;
    align-items: center;
  }

  .message__avatar {
    width: 120px;
    height: 120px;
  }

  .message__avatar:nth-child(even),
  .message__avatar:nth-child(odd) {
    margin: 0px;
    margin-bottom: 8px;
  }

  .message__speech-bubble {
    order: 1;
  }

  .contact__rights {
    font-size: var(--font-micro);
  }

  .arrow-up {
    bottom: 16px;
    right: 16px;
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}
