:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-light-red: #da6262;
  --color-background-blue: #4f84db;
  --color-background-red: #ad0101;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation  */
  --animation-duration: 300ms;
}

#classifier {
  background-color: var(--color-light-white);
}

.avatar-upload {
  position: relative;
  max-width: 300px;
  margin: 50px auto;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 30px;
  z-index: 1;
  top: 20px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatar-upload .avatar-preview {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 4px;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btn_upload {
  padding: 20px 40px;
  font-size: var(--font-medium);
  cursor: pointer;
  font-weight: var(--weight-semi-bold);
  border-radius: 12px;
  color: var(--color-white);
  background-color: var(--color-background-red);
  border: 4px solid var(--color-white);
  transition: all var(--animation-duration) ease-in-out;
}

.btn_upload:hover {
  background-color: var(--color-light-red);
}

.image__box {
  max-width: 400px;
  height: 400px;
  margin: 50px auto;
}

.result__container {
  background-color: var(--color-white);
  max-width: 1600px;
  margin: auto;
  padding: 30px;
}

.models__images {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.model__image {
  padding: 20px;
  width: 300px;
  height: 300px;
}

.result__description {
  text-align: left;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  padding-bottom: 20px;
}

/* ---------- For below 768px screen width ---------- */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .model__image {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 0px;
  }
}
