<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AIFFEL_Hackathon Portfolio</title>
  <meta name="description" content="Tay's beta version Website Portfolio">
  <meta name="author" content="Tay">
  <script src="https://kit.fontawesome.com/8cc10ba7fd.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="imgs/eiffel.png">
  <link rel="stylesheet" href="style.css">
  <script src="main.js" defer></script>
</head>
<body>
  <!-- Navbar -->
  <nav id="navbar">
    <div class="navbar__logo">
      <a href="#"><i class="fas fa-ice-cream">AIFOODIE</i></a>
    </div>

    <ul class="navbar__menu">
      <li class="navbar__menu__item">Home</li>
      <li class="navbar__menu__item">About</li>
      <li class="navbar__menu__item">Skills</li>
      <li class="navbar__menu__item">My work</li>
      <li class="navbar__menu__item">Testimorial</li>
      <li class="navbar__menu__item">Home</li>
      <li class="navbar__menu__item">Contact</li>
    </ul>
  </nav>

  <!-- About -->
  <section id="about">
    <h1>ABOUT AIFOODIE TEAM</h1>
    <p> We met at AIFFEL, an artificial intelligence innovation school. AIFFEL is an educational institution where students learn artificial intelligence and coexist with each other. Our team won first place in the 1st Hackathon hosted by AIFFEL. In addition, we have dreamed of becoming a startup by supporting 18 primer batches. Hackathon 2nd and 3rd will conduct food classification under the team name AI FOODIE. We will find and tune the classification model suitable for the food to find the highest recognition rate. In addition, we plan to create a classification model that best suits food.
    </p>
    <div class="about__majors">
      <div class="major">
        <div class="major__img">
          <img src="imgs/tae.JPG" alt="team member 1">
        </div>
        <h2 class="major__title">Taeyang Shin</h2>
        <p class="major__description"> 
          Front-End: 
          <br /> HTML, CSS, JavaScript
        </p>
      </div>

      <div class="major">
        <div class="major__img">
          <img src="imgs/tae.JPG" alt="team member 2">
        </div>
        <h2 class="major__title">Taeyang Shin</h2>
        <p class="major__description"> 
          Front-End: 
          <br /> HTML, CSS, JavaScript
        </p>
      </div>

      <div class="major">
        <div class="major__img">
          <img src="imgs/tae.JPG" alt="team member 3">
        </div>
        <h2 class="major__title">Taeyang Shin</h2>
        <p class="major__description"> 
          Front-End: 
          <br /> HTML, CSS, JavaScript
        </p>
      </div>

      <div class="major">
        <div class="major__img">
          <img src="imgs/tae.JPG" alt="team member 4">
        </div>
        <h2 class="major__title">Taeyang Shin</h2>
        <p class="major__description"> 
          Front-End: 
          <br /> HTML, CSS, JavaScript
        </p>
      </div>

      <div class="major">
        <div class="major__img">
          <img src="imgs/tae.JPG" alt="team member 5">
        </div>
        <h2 class="major__title">Taeyang Shin</h2>
        <p class="major__description"> 
          Front-End: 
          <br /> HTML, CSS, JavaScript
        </p>
      </div>
    </div>
    <div class="about__record">
      <div class="record">
        <div class="record__logo">
          <img src="imgs/medal.png" alt="1st Hackathon" width="30" height="30">
        </div>
        <p class="recored__description">
          AIFFEL 1st Hackathon 1st place
        </p>
      </div>
      <div class="record">
        <div class="record__logo">
          <img src="imgs/startup.png" alt="Batch 18th final" width="30" height="30">
        </div>
        <p class="recored__description">
          Startup Accelerator Primer Batch 18th final
        </p>
      </div>
    </div>

  </section>

  <!-- Skills -->
  <section id="skills">
    <p>
      git commit!!
    </p>
  </section>

  <!-- Work -->
  <seciton id="work"></seciton>

  <!-- Testimonials-->
  <section id="testimonials"></section>

  <!-- Contact-->
  <section id="contacat"></section>
</body>
</html>